
@import url('https://fonts.googleapis.com/css?family=Baumans');  

html {
  height: 100%;
}

body {
    background-image: url('https://s3-us-west-2.amazonaws.com/paulamookerjee/rocket_large.png');
    background-size: cover; 
    background-repeat: 0 0 no-repeat;
    width: 100%;
    min-height: 100%;
    color: black;
    font-family: 'Baumans';
    &:after {
        
        @include shadow-bottom-fuzzy;
    }
}

img {
 max-width: 100%;
 min-width: 100%;
}

h2 {
    font-family: 'Baumans';
}

main {
    padding: 2em;
}

@media only screen and (max-device-width: 650px) {
    body {   
      background-image: url('https://s3-us-west-2.amazonaws.com/paulamookerjee/rocket_small.png');    
    }
}

@media only screen and (min-device-width: 1100px) {
    body {   
      background-image: url('https://s3-us-west-2.amazonaws.com/paulamookerjee/rocket_huge2.png');    
    }
}

@include headings();