.grpLabel {
  display: flex;
  flex-direction: column;
  padding: .6em;
  align-items: center;
}

.groupCreateLabel {
  display: flex;
  flex-direction: column;
  padding-bottom: .5em;
  padding-top: 1em;
}

.groupAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: .3em;
}

button {
  border: none;
  border-radius: 5px;
  outline: none;
}

#createGroup {
  //padding-top: 2em;
}