a.login {
  display: flex;
  justify-content: center;
  align-items: center;  
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a#google:after {

  font-family: FontAwesome;  
  content: "\f0d4";
  color: #5BC5FF;
  font-size: 23px;
  padding-left: .4em;
  font-weight: bold;
  text-decoration: inherit
}

a#google {
  padding-top: 5em;
  font-size: 1.3em;
}