a.login {
  display: flex;
  justify-content: center;
  align-items: center;  
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a#google:after {
  content: url('https://s3-us-west-2.amazonaws.com/paulamookerjee/googleIcon.jpg');
  padding-left: .4em;

  // font-family: FontAwesome;  
  // content: "\f0d4";
  // color: #FDCF00;
  // font-size: 23px;
  // font-weight: bold;
  // text-decoration: inherit
}

a#google {
  font-size: 1.3em;
  padding-left: 2em;
}