main{
    flex: 1;
    .taskHeader {
        display: flex;
        justify-content: center;
        font-size: 1.1em;
        padding:1em;

    }
    .queueView {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        margin-left: 5em;
        
        .inputDiv{
            display: flex;
            flex-direction: column;
            justify-content: center;

            #groupName {
                display: flex;
                justify-content: center;
                font-size: 1.4em;
                padding-bottom: .4em;
            }
        }
        .taskQueue{
            ul{
                margin-top: 1em;
                li{
                    display: flex;
                    flex-direction: row;
                    div{
                        margin-left:1em;   
                    }
                }
            }
        }
        
    }
}

.completedView {
    margin-left: 6em; 
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    
    .inputDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;

        #groupName {
            display: flex;
            justify-content: center;
            font-size: 1.4em;
            padding-bottom: .4em;
        }
    }
    .taskQueue{
        ul{
            margin-top: 1em;
            li{
                display: flex;
                flex-direction: row;
                div{
                    margin-left:1em;   
                }
            }
        }
    }
    
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5em;
}

a.unsubscribe:after {
    
    content: "\f056";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13) ;
    font-size: 20px;
    padding-left: 0.6em;
    padding-bottom: .4em;
    display: flex;
    align-items: center;
}

a.unsubscribe:hover:after {
    content: "\f057";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13);
    font-size: 20px;
    padding-left: 0.6em;
    padding-bottom: .4em;
    display: flex;
    align-items: center;
}

a.deleteButton:after {
    
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13);
    font-size: 18px;
    padding-left: 0.6em;
    padding-bottom: .4em;
    display: flex;
    align-items: center;
}

a.deleteButton:hover:after {
    
    content: "\f06a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13);
    font-size: 18px;
    padding-left: 0.6em;
    padding-bottom: .4em;
    display: flex;
    align-items: center;
}


a#deleteTask:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(242, 13, 13);
    font-size: 18px;
    display: flex;
    align-items: center;
}

#alias {
    display: flex;
    justify-content: center;
    padding-bottom: 1.4em;
    font-size: 1em;
 
}

div.taskQueue {
    display: flex;
    flex-direction: column;
}

form#uncompleted {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;    
}


@media only screen and (max-device-width: 420px) {
    a#deleteTask:before {
        content: "\f00d";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: blue;
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-bottom: 2.5em;
    }

    input#completedName {
        width: 10em;
        padding-left: .5em;
    }

    #checkbox {
        margin-right: .3em;
    }

    form#listForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        padding-bottom: 1.3em;
        font-size: 12px;
    }

    .task-form-div form .listInput {
        width: 15em;
        font-size: 12px;
    }

    .task-form-div form .newInput {
        width: 16em;
        font-size: 12px;
        padding: .3em .4em;
    }

    .completedView {
        margin-left: 2em; 
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
        
        .inputDiv{
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            #groupName {
                display: flex;
                justify-content: center;
                font-size: 1.4em;
                padding-bottom: .4em;
            }
        }
        .taskQueue{
            ul{
                margin-top: 1em;
                li{
                    display: flex;
                    flex-direction: row;
                    div{
                        margin-left:1em;   
                    }
                }
            }
        }
        
    }
}